
body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 13px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 40%;
    background: linear-gradient(to right, rgb(11, 11, 14), rgb(46, 48, 46));
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:antiquewhite
  }

  .members-count {
    border: none;
    padding: 20px;
    margin: 0 auto;
  }

  .members-list {
    background: transparent;
    border: 2px solid black; 
    padding: 10px; 
    width: 30%;
    margin: 0 auto; 
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;;
  }


  .messages {
    border: 5px solid black;
    padding: 25px;
    margin-bottom: 10px;
    /* background: linear-gradient(to left, rgb(43, 41, 43), rgb(139, 137, 137)); */
    background: transparent;
  }

  .messages {
    flex-shrink: 1;
    overflow-y: scroll;
    height: 300px;
    display: flex;
    flex-direction: column;
  }

  .message {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .message .member {
    display: inline-block;
  }

  .member {
    padding-right: 0px;
    position: relative;
  }

  .message-form {
    display: flex;
    flex-shrink: 0;
  }
  .message-form__input {
    flex-grow: 1;
    border: 5px solid black;
    border-radius: 15%;
    padding: 10px 15px;
    font-size: 20px;
    background: transparent;
    color: antiquewhite;
  }
  .message-form__button {
    margin: 10px;
    color: rgb(8, 8, 8);
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
  }

  .message-form__button:hover {
    color: rgb(223, 230, 220);
    transform:rotate(10deg);
    
  }

  


  

  
